<!doctype html>
<html lang="en">


<!-- Mirrored from globalgranttrade.com/help/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Dec 2024 02:35:24 GMT -->
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trade Stock, Indices, Crypto and CFDz">
    <meta name="keywords" content="blockit, uikit3, indonez, handlebars, scss, javascript">
    <meta name="author" content="Peter Parker">
    <meta name="theme-color" content="#2E89EA">
    <!-- Custom-->
    <link rel="stylesheet" href="../css/custom.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.html" type="image/x-icon">
    <!-- Touch icon -->
    <link rel="apple-touch-icon-precomposed" href="../img/apple-touch-icon.html">
    <title>Help center - Globalgranttrade</title>
</head>

<body>
    <!-- page loader begin -->
    <div class="page-loader w-100 h-100 bg-white d-flex justify-content-center align-items-center position-fixed overflow-hidden">
        <div class="spinner-grow spinner-grow-sm text-primary"></div>
        <div class="spinner-grow spinner-grow-sm text-primary"></div>
        <div class="spinner-grow spinner-grow-sm text-primary"></div>
    </div>
    <!-- page loader end -->
    <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="../../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit"></script>
    <!-- header begin -->
    <header class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="../img/in-logo.png" alt="logo" width="250" height="67" class="d-inline-block">
            </a>
            <div class="collapse navbar-collapse d-flex justify-content-between d-none d-xl-block" id="navbarNav">
                <link rel="stylesheet" href="../translate/translate.css">
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown-company" data-bs-toggle="dropdown" aria-expanded="false">Trade</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/forex">Forex</a></li>
            <li><a class="dropdown-item" href="/cryptos">Cryptos</a></li>
            <li><a class="dropdown-item" href="/stocks">Stocks</a></li>
            <li><a class="dropdown-item" href="/options">Options</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/copy-trading">Copy Trading</a>
    </li>
</ul>
<div class="optional-link d-flex align-items-center ms-4 d-none d-xl-block">
    <a href="/login" target="_blank" class="btn btn-link me-3"><i class="fas fa-circle-user"></i>Login</a>
    <a href="/register" target="_blank" class="btn btn-info">Create Account</a>
</div>            </div>
        </div>
    </header>
    <!-- breadcrumb content begin -->
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 class="d-none">Breadcrumb</h6>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb content end -->
    <!-- header end -->
    <main id="swup" class="transition-fade">
        <!-- section content begin -->
        <section class="pt-5 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-info border-0" style="background-image: url(img/blockit/in-content-10-image.html); background-repeat: no-repeat; background-position: left bottom;">
                            <div class="card-body p-3 p-md-4 p-lg-4">
                                <h1 class="fw-bold text-center mb-2 text-white">Hi, we’re here to help.</h1>
                                <div class="d-flex justify-content-center">
                                    <form class="col-12 col-md-11 col-lg-7 mb-lg-1">
                                        <div class="input-group mb-2">
                                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                                            <input type="text" class="form-control form-control-lg" placeholder="Search for articles...">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section content end -->
        <!-- section content begin -->
        <section class="py-5 in-cirro-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="accordion accordion-style-5 mt-n2 mb-3" id="sampleFive">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a5One" aria-expanded="true">
                                        What is trading platform?
                                    </button>
                                </h2>
                                <div id="a5One" class="accordion-collapse collapse show" data-bs-parent="#sampleFive">
                                    <div class="accordion-body">
                                        <p>It is an online platform where traders track the quotes of different kinds of assets and make trades using the services provided by a broker.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Two" aria-expanded="false">
                                        Platform doesn't load?
                                    </button>
                                </h2>
                                <div id="a5Two" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                                    <div class="accordion-body">
                                        <p>Try opening it in some other browser. We recommend using the latest Google Chrome. The system will not let you log in to the trading platform if your location is blacklisted. Perhaps, there is an unexpected technical problem. Our support consultants will help you solve it.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Three" aria-expanded="false">
                                        When will deposit be credited?
                                    </button>
                                </h2>
                                <div id="a5Three" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                                    <div class="accordion-body">
                                        <p>The funds are usually credited to trading accounts fast, but sometimes it can take from 2 to 5 business days (depending on your payment provider.) If the money has not been credited to your account right after you make a deposit, please wait for 1 hour. If after 1 hour there is still no money, please wait and check again. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Four" aria-expanded="false">
                                        Do I need to install any software?
                                    </button>
                                </h2>
                                <div id="a5Four" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                                    <div class="accordion-body">
                                        <p>You can trade on our online platform in the web version right after you create an account. There is no need to install new software.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Five" aria-expanded="false">
                                        Do I need to install any software?
                                    </button>
                                </h2>
                                <div id="a5Five" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                                    <div class="accordion-body">
                                        <p>You can trade on our online platform in the web version right after you create an account. There is no need to install new software.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 mt-5 mt-lg-0">
                        <div class="accordion accordion-style-5 mt-n2 mb-3" id="SampleSix">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a6One" aria-expanded="false">
                                        What are bonuses?
                                    </button>
                                </h2>
                                <div id="a6One" class="accordion-collapse collapse" data-bs-parent="#SampleSix">
                                    <div class="accordion-body">
                                        <p>Bonus is the money the company provides to a client for trading. Traders don't lose their own funds when they lose a bonus. On the other hand, in case of success, they pocket the profit gained from using bonus funds.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a6Two" aria-expanded="false">
                                        Trading and Quote Sessions
                                    </button>
                                </h2>
                                <div id="a6Two" class="accordion-collapse collapse" data-bs-parent="#SampleSix">
                                    <div class="accordion-body">
                                        <p>A quote session is a period when the platform receives and transmits quotes. However, one can make trades within a slightly shorter trading session, which is part of a quote session. As a rule, a quote session starts 5-10 minutes earlier and ends 5-10 minutes later than the trading session. This is meant to protect traders from the risk of high volatility at the beginning and the end of the quote session. For example, a quote session for Apple shares starts at 13:30 GMT (US Summer Time) and ends at 20:00. A trading session for Apple shares starts with a five-minute delay, i.e. at 13:35. And it ends at 19:55, which is 5 minutes before the quote session ends. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a6Three" aria-expanded="false">
                                        Why doesn't a trade open instantly?
                                    </button>
                                </h2>
                                <div id="a6Three" class="accordion-collapse collapse" data-bs-parent="#SampleSix">
                                    <div class="accordion-body">
                                        <p>It takes a few seconds to get data from the servers of our liquidity providers. As a rule, the process of opening a new trade takes up to 4 seconds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a6Four" aria-expanded="false">
                                        How can I view the history of my trades?
                                    </button>
                                </h2>
                                <div id="a6Four" class="accordion-collapse collapse" data-bs-parent="#SampleSix">
                                    <div class="accordion-body">
                                        <p>All information about your recent trades is available in the “Trades” section. You can access the history of all your trades through the section with the same name as your user account. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a6Five" aria-expanded="false">
                                        Is Trading a good way to make money?
                                    </button>
                                </h2>
                                <div id="a6Five" class="accordion-collapse collapse" data-bs-parent="#SampleSix">
                                    <div class="accordion-body">
                                        <p>Yes. Trading is a good way to make a return on your money, but, all depends on your financial services background, extensive trading knowledge and experience, you must be an expert or consult an expert in financial trading investing before you invest any of your money. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section content end -->
    </main>
    <!-- footer begin -->
    <div class="container py-3">
    <div class="d-block">
        <h1 class="display-6">We Accept:</h1>
    </div>
    <div class="payment-img">
        <img src="../img/payment/23ac2a85-mastercard-payment-method.svg">
        <img src="../img/payment/27ca846d-visa-payment-method.svg">
        <img src="../img/payment/3d51d6e1-skrill-payment-method.svg">
        <img src="../img/payment/49158de1-local-transfers-payment-method.svg">
        <img src="../img/payment/5e2eb724-maestro-payment-method.svg">
        <img src="../img/payment/dae66245-neteller-payment-method.svg">
    </div>
</div>
<!-- footer begin -->
<footer class="py-5 in-cirro-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row gx-0 mb-3">
                    <div class="col-md-12 col-lg-3 footer-logo">
                        <img src="../img/in-logo.png" alt="footer-logo" width="250" height="67" class="mb-1 d-block">
                        
                        <div class="d-block">
                            <form action="#">
                                <select onchange="doGTranslate(this);" class="form-control" data-width="150" data-size="5">
                                    <option value="en|en">English</option>
                                    <option value="en|af">Afrikaans</option>
                                    <option value="en|sq">Albanian</option>
                                    <option value="en|ar">Arabic</option>
                                    <option value="en|hy">Armenian</option>
                                    <option value="en|az">Azerbaijani</option>
                                    <option value="en|eu">Basque</option>
                                    <option value="en|be">Belarusian</option>
                                    <option value="en|bg">Bulgarian</option>
                                    <option value="en|ca">Catalan</option>
                                    <option value="en|zh-CN">Chinese</option>
                                    <option value="en|hr">Croatian</option>
                                    <option value="en|cs">Czech</option>
                                    <option value="en|da">Danish</option>
                                    <option value="en|nl">Dutch</option>
                                    <option value="en|et">Estonian</option>
                                    <option value="en|tl">Filipino</option>
                                    <option value="en|fi">Finnish</option>
                                    <option value="en|fr">French</option>
                                    <option value="en|gl">Galician</option>
                                    <option value="en|ka">Georgian</option>
                                    <option value="en|de">German</option>
                                    <option value="en|el">Greek</option>
                                    <option value="en|ht">Haitian Creole</option>
                                    <option value="en|iw">Hebrew</option>
                                    <option value="en|hi">Hindi</option>
                                    <option value="en|hu">Hungarian</option>
                                    <option value="en|is">Icelandic</option>
                                    <option value="en|id">Indonesian</option>
                                    <option value="en|ga">Spanish</option>
                                    <option value="en|it">Italian</option>
                                    <option value="en|ja">Japanese</option>
                                    <option value="en|cy">Welsh</option>
                                    <option value="en|yi">Yiddish</option>
                                </select>
                            </form>
                        </div>
                        <a class="lead footer-email" href="mailto:">support@Globalgranttrade.com</a>
                    </div>
                    <div class="col-md-12 col-lg-9">
                        <div class="d-flex flex-column flex-xl-row justify-content-xl-end">
                            <p>The Transactions offered by this Website can be executed only by fully competent adults. Transactions with financial instruments offered on the Website involve substantial risk and trading may be very risky. If you make Transactions with the financial instruments offered on this Website, you might incur substantial losses or even lose everything in your Account. Before you decide to start Transactions with the financial instruments offered on the Website, you must review the Service Agreement and Risk Disclosure Information. </p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3 mt-5 d-flex">
                        <div class="align-self-end">
                            <div id="transaction-alert" class="transaction-alert"></div>
                            <div id="google_translate_element2" class="google_translate_element2"></div>
                            <p class="mb-0 copyright-text">&copy;<script>document.write(new  Date().getFullYear())</script> sminecoinmarket. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-9 d-lg-flex justify-content-lg-end d-none d-lg-block">
                        <div class="align-self-end">
                            <nav class="nav in-footer-link-2">
                                <a class="nav-link border-end-md" href="/about">About Us</a>
                                <a class="nav-link border-end-md" href="/policy">Legal Information</a>
                                <a class="nav-link border-end-md" href="/term">Terms & Conditions</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="d-none d-md-block">
    <a href="#" class="to-top fas fa-arrow-up text-decoration-none text-white"></a>
</div>
<script src="translate/translate.html"></script>
<script type="text/javascript" src="../../translate.google.com/translate_a/element7876.js?cb=googleTranslateElementInit2"></script>


<!-- footer end -->
    <!-- javascript -->
    <script src="../../unpkg.com/swup%404.8.1/dist/swup.min.js"></script>  
    <script src="../js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../js/vendors/bootstrap.min.js"></script>
    <script src="../js/vendors/vanilla-marquee.min.js"></script>
    <script src="../js/vendors/bigger-picture.min.js"></script>
    <script src="../js/vendors/trading-widget.min.js"></script>
    <script src="../js/vendors/isotope.min.js"></script>
    <script src="../js/utilities.min.js"></script>
    <script src="../js/config-theme.js"></script>
    <script src="../js/vendors/swup.js"></script>
    <script src="../js/alert.js"></script>
</body>


<!-- Mirrored from globalgranttrade.com/help/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Dec 2024 02:35:26 GMT -->
</html>